@media screen and (max-width: 599px){


	.main{ 
		width: 100% !important;
		
		.controlPanel, .users{
			width: 100% !important; 
		}



		.users{
			
			/*контейнер со всеми пользователями*/
			.usersContainer{
				width: 100% !important;

				/*пользователи*/
				.item{
					width: 100% !important;
					display: block !important;
					margin:0 !important;
					margin-bottom: 10px !important;
					height: 450px !important;
					padding: 0!important; 
				}
			}
		}
		
	}

}

@media screen and (min-width:600px) and (max-width: 800px){

	.main{ 
		width: 100% !important;

		.find{
			width: 40% !important;
			display: inline-block !important;
			margin-left: 2.5% !important;
			margin-right: 2% !important;
		}
		.add{
			width: 40% !important;
			margin-left: 2% !important;
			margin-right: 2.5% !important;
			display: inline-block !important;
		}
		/*контейнер форм(найти и добавить)*/
			
		.controlPanel, .users{
			width: 100% !important; 
		}
		.users{
			/*контейнер со всеми пользователями*/
			.usersContainer{
				width: 100% !important;

				/*пользователи*/
				.item{
					width: 47% !important;
					display: inline-block !important;
					margin: 0 !important;
					margin-right: 1% !important;
					margin-left: 1% !important;
					margin-bottom: 10px !important;
					height: 450px !important;
					padding: 0!important; 
				}
			}
			
		}
	}

}
