html {
    font-family: 'Josefin Sans', sans-serif;
    body {
        background-image: url(/images/background-wide-wallpaper-1440x900-010.jpg);
        background-color: rgba(0, 0, 0, .5);
        background-blend-mode: multiply;
        section {
            padding: 0 !important;
        }
        #loader {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin-left: 40%;
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .blackDiv {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgba(0, 0, 0, 0.3);
            -webkit-transition: 500ms;
            -o-transition: 500ms;
            transition: 500ms;
            &:hover {
                background: rgba(0, 0, 0, 0);
            }
        }
        .main {
            .lead {
                font-style: bold !important;
            }
            .swiper-container {
                margin: 10px 0;
                width: 97%;
                height: 100%;
                border: 1px solid #fff;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    .fullImage {
                        width: 100%;
                        height: 500px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: 45% 35%;
                    }
                }
                .swiper-button-next {
                    color: #fff;
                }
            }
            .controlPanel {
                height: 100% !important;
                display: inline-block;
                float: left;
                clear: none;
                margin: 15px 0;
                .header h3 {
                    color: #fff;
                }
            }
            .users {
                width: 80%;
                float: left;
                #counterContainer {
                    color: white;
                    font-size: 50px;
                    text-align: center;
                }
                .usersContainer {
                    width: 100%;
                    clear: none;
                    padding: 10px 0;
                    .item {
                        background: rgba(103, 206, 208, .2);
                        border: 1px solid #fff;
                        width: 23.8%;
                        height: 450px;
                        margin: 5px;
                        display: inline-block;
                        overflow: hidden;
                        padding: 10px;
                        text-align: center;
                        img {
                            padding: 15px 0;
                        }
                        h3,
                        h4 {
                            color: #fff;
                        }
                        a {
                            font-size: .9em;
                        }
                    }
                    #pagination {
                        display: block;
                        overflow: hidden;
                        margin-top: 25px;
                        padding: 0 60px;
                        text-align: center;
                    }
                    .pagination {
                        overflow: hidden;
                    }
                    .active {
                        background: tomato;
                        color: #fff;
                    }
                    .btn-link {
                        text-decoration: none;
                        background: none;
                        display: inline-block;
                        margin: 10px 10px;
                        &:hover {
                            background: tomato;
                            color: #fff;
                        }
                        &:active {
                            background: tomato;
                            color: #fff;
                        }
                        &:focus {
                            background: tomato;
                            color: #fff;
                        }
                    }
                    .active {
                        background: tomato;
                    }
                    .btn-left {
                        position: absolute;
                        left: 0;
                        padding: 3px 5px;
                        &:active {
                            background: none;
                        }
                    }
                    .btn-right {
                        position: absolute;
                        right: 0;
                        padding: 3px 5px;
                        &:active {
                            background: none;
                        }
                    }
                }
            }
            h1,
            h3,
            p,
            a {
                text-align: center;
                color: #fff;
            }
            img {
                display: block;
                margin: 0 auto;
            }
            input {
                width: 80%;
                padding: 5px 10px;
                margin: 15px 0px 10px 0;
                font-size: .9em;
                border: 1px solid #686868;
                outline: 0 !important;
                &:focus {
                    border: 1px solid transparent;
                    -webkit-box-shadow: 0 0 20px #fff;
                    box-shadow: 0 0 20px #fff;
                }
            }
            button {
                border: 2px solid tomato;
                background: tomato;
                padding: 5px 10px;
                margin: 10px 0 20px 0;
                font-size: .9em;
                font-weight: 500;
                outline: 0 !important;
                color: #fff;
                letter-spacing: .5px;
                -webkit-transition: .3s;
                -o-transition: .3s;
                -webkit-transition: .2s;
                -o-transition: .2s;
                transition: .2s;
                &.delete {
                    float: right;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    line-height: 10px;
                    font-size: 1em;
                    height: 25px;
                    width: 25px;
                    text-align: center;
                    padding: 0;
                    background: transparent;
                    &:hover {
                        background: tomato;
                    }
                }
                &#deleteIcon {
                    border: 1px solid #fff;
                    border-radius: 50%;
                    width: 8%;
                    float: right;
                    color: #fff;
                    font-size: 1.2em;
                    text-align: center;
                    &:hover {
                        color: tomato;
                        border: 1px solid tomato;
                        cursor: pointer;
                    }
                }
                &:hover {
                    cursor: pointer;
                    background: transparent;
                    border: 2px solid tomato;
                }
            }
            .add {
                padding: 10px;
                display: block;
                width: 97%;
                text-align: center;
                border: 1px solid #fff;
                background: rgba(103, 206, 208, .2);
            }
            a {
                margin: 10px 10px;
                display: inline-block;
            }
            .user {
                display: block;
            }
            .find {
                margin-bottom: 15px;
                display: block;
                width: 97%;
                text-align: center;
                border: 1px solid #fff;
                padding: 10px;
                background: rgba(103, 206, 208, .2);
            }
        }
    }
}